<!DOCTYPE html>
<html>
<head>
	<title>Climb {{mountainInfo.displayName}} | 360 Mountain Experience | Trail Titans</title>
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64070218-1', 'auto');
    ga('send', 'pageview');
  </script>
	<meta property="og:image" content="http://d39rd677qckrt3.cloudfront.net/images/{{mountainInfo.mountainName}}-preview.png" />
	<meta property="og:title" content="Climb {{mountainInfo.displayName}}" />
	<meta name="description" property="og:description" content="Whether you're preparing to climb {{mountainInfo.displayName}} or just curious, you can climb the mountain online in 360 degrees from the trailhead to the summit on Trail Titans." />
	<meta property="og:site_name" content="Trail Titans" />
	<meta property="og:url" content="http://trailtitans.com/climb/{{mountainInfo.mountainName}}" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<style>
		@-ms-viewport { width:device-width; }
		@media only screen and (min-device-width:800px) { html { overflow:hidden; } }
		html { height:100%; }
		body { height:100%; overflow:hidden; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; background-color:#000000; }
	</style>
	<script>
		var campInfo = {{{mountainInfo.js}}};
		{{#if cacheBusters}}
			var cacheBusters = {{{cacheBusters}}};
		{{/if}}
	</script>
</head>
<body>

{{#if krpanojs}}
  <script>{{{krpanojs}}}</script>
  {{else}}
	<script src="/js/krpano.js"></script>
{{/if}}
<div id="pano" style="width:100%;height:100%;">
	<noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
	<script>
	{{#if dev}}
		// embedpano({xml:"/firsts/{{mountainInfo.mountainName}}/hi-res/xml/1-1_Panorama.xml", target:"pano", html5:"only", passQueryParameters:true});
		embedpano({xml:"http://d39rd677qckrt3.cloudfront.net/mountains/{{mountainInfo.mountainName}}/hi-res/xml/1-1_Panorama.xml?v=blartblart", target:"pano", html5:"only", passQueryParameters:true});
	{{else}}
		embedpano({xml:"http://d39rd677qckrt3.cloudfront.net/mountains/{{mountainInfo.mountainName}}/hi-res/xml/1-1_Panorama.xml?v=28-3", target:"pano", html5:"only", passQueryParameters:true});
	{{/if}}
	</script>
	<div id="clickToPause" style="display:none;position:absolute;color:white;margin:0 auto;left:0;right:0;bottom:100px;top:0;height:100px;font-size:1em;text-align:center;z-index:1000;">
		<p style="display:inline-block;background-color:#373737;background-color:rgba(37,37,37,0.6);padding:10px">
			click anywhere to pause
		</p>
	</div>
</div>
<canvas id="contextMap" height="500" width="500" style="position:absolute;bottom:25px;left:25px;">Your must have a browser that supports canvas in order experience the complete climb</canvas>
<div id="nosoupforyou" style="display:none;position:absolute;top:0;margin:5px">
	Please visit this page on a device with a larger screen to climb {{mountainInfo.displayName}}. You could also try maximizing your window or using your tablet in landscape mode.
</body>
{{#if dev}}
	<script src="/js/mike-utilities.js"></script>
	<script src="/js/contextMap.js"></script>
	<script src="/js/trailtitans.js"></script>
	<script src="/js/easeljs-0.8.0.min.js"></script>
{{else}}
	<script src="http://d39rd677qckrt3.cloudfront.net/min.js?v=11"></script>
{{/if}}
<script>
	initClimbMode('{{mountainInfo.mountainName}}');
</script>
</html>

